* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 700;
  color: #666666;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration-line: none;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 1200px;
  height: 54px;
  padding: 10px 15px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.nav-title {
  font-size: 30px;
  width: 150px;
  color: #448899;
}

.user-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-user-btn {
  height: 100%;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
  border: none;
  background-color: #ffffff;
  color: #666666;
}

.nav-user-btn:hover {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
}

.main-container {
  padding: 40px 0;
  width: 1200px;
  
}

.booking-order{
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booking-head-line{
  width: 1000px;
  margin-bottom: 30px;
  font-size: 19px;
}
.booking-message{
  width: 1000px;
  font-weight: 400;
  text-align: left;
}
.booking-content-container{
  width: 1000px;
  display: flex;
  padding: 10px;
}

.booking-content-image{
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
}

.booking-content-details{
  height: 200px;
  position: relative;
  flex: auto;
}

.booking-detail{
  width: 100%;
  height: 24px;
  margin-bottom: 10px;
  background-color: #ffffff;
  font-weight: 400;

}

.booking-detail span  {
  font-weight: 400;
}

#booking-header {
  color: #448899;
  margin-bottom: 20px;
}

#cancel-booking-icon{
  position: absolute;
  top: 0;
  right: 0;
}

#cancel-booking-icon:hover {
  cursor: pointer;
}

.contact-information{
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container{
  width: 1000px;
  padding: 0 10px;
}

.contact-header{
  margin-bottom: 15px;
  font-size: 19px;
}

.contact-input {
  height: 38px;
  margin-bottom: 15px;
}

.contact-input label{
  font-weight: 400;
}

.contact-input  input{
  height: 100%;
  width: 200px;
  padding: 0 10px ;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
  border-radius: 5px;
  color: #000000;
}

.pay-information{
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pay-container{
  width: 1000px;
  padding: 0 10px;
}

.pay-header {
  margin-bottom: 15px;
  font-size: 19px;
}

.card-input {
  height: 38px;
  margin-bottom: 15px;
}

.card-input label {
  font-weight: 400;
}

.card-input input {
  height: 100%;
  width: 200px;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
  border-radius: 5px;
  color: #000000;
}

.confirm-total{
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-container {
  width: 1000px;
  padding: 0 10px;
  text-align: right;
}


.total-price{
  height: 20px;
  width: auto;
  margin-bottom: 20px;
}

.confirm-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #448899;
  color: #ffffff;
  margin-bottom: 20px;
  border: none;
}

hr {
  border-style: solid;
  border-width: 1px 0 0 0 ;
  color: #e8e8e8;
}

.separator {
  margin: 40px 0;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px ;
  width: 100%;
  height: 100%;
  background-color: #757575;
  color: #ffffff;
}

.footer-text {
  color: #ffffff;
}

@media (max-width:1200px) {
  .main-container {
    width: 100%;
    padding: 40px 10px;
  }

  .booking-order{
    width: 100%;
  }

  .booking-order div {
    width: 100%;
  }


  .contact-information{
    width: 100%;
  }
  .contact-container{
    width: 100%;
  }

  .contact-container  div{
    width: 100%;
  }

  .pay-information{
    width: 100%;
  }
  .pay-container{
    width: 100%;
  }
  .confirm-total{
    width: 100%;
  }
  .confirm-container{
    width: 100%;
  }
  .confirm-container{
    width: 100%;
  }

}
@media (max-width:650px){
  .booking-content-container {
    flex-direction: column;
    padding: unset;
  }
  .booking-content-image{
    width: 100%;
    margin-right: unset;
  }
  .booking-content-details {
    margin-top: 30px;
  }
  #cancel-booking-icon {
    position: absolute;
    bottom: 0;
    top:unset;
  }
  .contact-container{
    padding: unset;
  }
  
  .pay-container{
    padding: unset;
  }
}